# Ignore virtual environments
venv/
.env
*.venv

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
logs/
*.log

# Ignore environment-related files
.env
*.env
*.ini
*.cfg

# Ignore compiled Python files
*.so
*.egg-info/
dist/
build/

# Ignore keys
heart-attack-dataset-3b6b3d2bddb8.json
